@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2b2b2b;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* Estilos para el icono de carrito y elementos relacionados */
}
header .logo img {
  width: 130px;
}
header .carrito-icon {
  display: flex;
  align-items: center;
  margin-left: auto; /* Para colocar al lado derecho del header */
  margin-right: 30px;
  /* Margen de separación */
}
header .carrito-icon i {
  font-size: 1.8rem; /* Tamaño del icono */
  margin-right: 5px; /* Espacio entre el icono y el texto */
}
header .carrito-icon span {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
}

.carrito {
  padding: 20px;
}

.carrito-caja {
  background-color: #d3d3d3;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.carrito-titulo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.carrito-img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}

.carrito-detalle {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  align-items: center;
}

.carrito-producto-titulo {
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  margin-left: 0.5rem;
  text-align: center;
}
.carrito-producto-titulo .nombre-producto {
  font-size: 1rem;
}
.carrito-producto-titulo .descripcion-producto {
  font-size: 0.5rem;
}

.carrito-precio {
  font-weight: 500;
}

.carrito-eliminar {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}

.total-titulo {
  font-size: 1rem;
  font-weight: 600;
}

.total-precio {
  margin-left: 0.5rem;
}

.btn-comprar {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #d3d3d3;
  color: #2b2b2b;
  font-weight: bold;
}

.btn-comprar:hover {
  background-color: #2b2b2b;
  color: #007bff;
}

.btn-comprar:active {
  background-color: #d3d3d3;
}

@media (min-width: 768px) {
  .carrito-producto-titulo {
    font-size: 1.2rem;
  }
  .carrito-producto-titulo .nombre-producto {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .carrito-producto-titulo .descripcion-producto {
    font-size: 1em;
  }
}
footer {
  margin-top: 2rem;
  margin-bottom: 0;
  background-color: #2b2b2b;
  color: #f85407;
}
footer .contenedor-recibir_ofertas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .contenedor-recibir_ofertas h3 {
  margin: 1rem;
}
footer .contenedor-recibir_ofertas form {
  width: 100%;
}
footer .contenedor-recibir_ofertas div {
  width: 60%;
}
footer .contenedor-recibir_ofertas .btn-white {
  color: white;
  border-color: white;
}
footer .contenedor-info_contacto {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
footer .contenedor-info_contacto .logo img {
  width: 130px;
}
footer .contenedor-info_contacto .info_contacto-mapa {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}
footer .contenedor-info_contacto .info_contacto-mapa iframe {
  max-width: 500px;
}
footer .contenedor-info_contacto .info_contacto-lista {
  margin-bottom: 1rem;
}
footer .contenedor-info_contacto .info_contacto-lista li {
  list-style: none;
}
footer #copy {
  margin-top: 0.5rem;
  color: white;
  font-weight: 200;
  border-top: 1px solid white;
}

@media (min-width: 992px) {
  footer .contenedor-info_contacto {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  footer .contenedor-info_contacto {
    margin-top: 1rem;
    max-width: 1300px;
  }
  footer .contenedor-info_contacto .info_contacto-mapa {
    margin: 0;
  }
}/*# sourceMappingURL=carrito.css.map */